body{
    font-family:"Libre Franklin";
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
}

header nav{
    display: none;
}

header button{
    display: none;
}

header img {
    border: solid 1px var(--header-icon-border-color);
    border-radius: 16px;
}

header h2 {
    color: var(--primary-color);
}

.hero{
    background: linear-gradient(135deg, #3279E2 0%, #CACAEB 100%);
}

.hero-subtitle{
    color: var(--subtitle);
}

.hero-title{
    color: var(--primary-color);
}

.hero-button{
    background-color: rgba(17, 17, 17, 1);
    color: var(--primary-color);
    padding: 16px 30px;
    font-family: Libre Franklin;
font-weight: 700;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;

}

/* .hero-second-article{
    width: 405px;
    height: 80%;
}

.image{
    object-fit: cover;

} */

.service-container {
    display: flex;
    flex-direction: column;
}

.service-card {
    display: flex;
    flex-direction: column;
}