
<style>
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
</style>

:root {
    --primary-color: #FFFFFF;
    --header-icon-border-color: rgba(255, 255, 255, 0.3);
    --bg-color: rgba(50, 121, 226, 1);
}

body {
    font-family:"Libre Franklin";
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
}

header nav {
    display: none;
}

header button {
    display: none;
}

header img {
    border: solid 1px var(--header-icon-border-color);
    border-radius: 16px;
}

header h2 {
    color: var(--primary-color);
}

