body{
    font-family:"Libre Franklin";
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
}

header nav{
    display: none;
}

header button{
    display: none;
}

header img {
    border: solid 1px var(--header-icon-border-color);
    border-radius: 16px;
}

header h2 {
    color: var(--primary-color);
}

.hero{
    background: linear-gradient(135deg, #3279E2 0%, #CACAEB 100%);
}

.hero-subtitle{
    color: var(--subtitle);
}

.hero-title{
    color: var(--primary-color);
}

.hero-second-article{
    width: 100%;
}

.image{
    object-fit: cover;

}

.service-container {
    display: flex;
}