@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #FFFFFF;
    --header-icon-border-color: rgba(255, 255, 255, 0.3);
    --bg-color: rgba(50, 121, 226, 1);

    --subtitle: rgba(170, 196, 234, 1);
}

.subtitle-base{
    font-family: Libre Franklin;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.subtitle-secondary{
    font-family: Libre Franklin;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0px;
}